<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:include="~{admin/admin-fragments/head}"/>
<body>

<div class="wrapper d-flex align-items-stretch">
    <th:block th:include="~{admin/admin-fragments/nav}"/>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">MVN | Admin Panel</h2>
        <p>Welcome to the Admin Panel.</p>
        <p>Here you will be able to control the MVN | World.</p>
        <h5 style="text-align: center"><i><b>--<q>With great power comes great responsibility</q>--</b></i></h5>
        <br>
        <p>Some of the things you have control of are as follows:</p>
        <p>     - Manage Users -> CRUD Operations</p>
        <p>     - Manage the Blog Society -> CRUD Operations</p>
        <p>     - Manage the Shop Society -> CRUD Operations. </p>
        <p>     - Manage the Gallery Society -> CRUD Operations</p>
<br>
        <p>In the table below you can see the current Admins.</p>
        <h6><i>* Remember: The other Admins are your friends. You cannot touch their status in this world and vice-versa</i></h6>



        <table style="width:100%">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Member since</th>
                <th>Gender</th>
                <th>Posts</th>
                <th>Products</th>
                <th>Gellery</th>

            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td><a>delete </a><a>edit </a><a>change role</a></td>

            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
        </table>
    </div>
</div>

<th:block th:include="~{admin/admin-fragments/footer}"/>

</body>
</html>