<th:block xmlns="http://tapestry.apache.org/schema/tapestry_5_3.xsd">
    <head>
        <title th:text="${title}">MVN | Blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <base href="/">
        <link rel="icon" th:href="${favicon}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="admin/css/style.css">
    </head>
</th:block>