<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/">
   <link rel="stylesheet" href="/css/change-pass.css">
</head>
<body>
<div class="login-page">
    <div class="form">
        <form th:action="@{/mvn/users/api/profile/change-pass(id=${passChange.id})}" th:object="${passChange}"
              th:method="POST" class="login-form">
            <input type="password" name="oldPassword" th:field="*{oldPassword}" th:errorclass="bg-danger" placeholder="Old password" required/>
            <small th:if="${notMatchingOld}">Wrong old password!</small>
            <input type="password"  name="newPassword" th:field="*{newPassword}" th:errorclass="bg-danger" placeholder="New password" required/>
            <th:block th:each="e : ${#fields.errors('newPassword')}">
                <small th:text="${e}" class="text-danger"></small><br>
            </th:block><br>
            <input type="password"  name="confirmNewPassword" th:field="*{confirmNewPassword}" th:errorclass="bg-danger" placeholder="Confirm new password" required/>
            <small th:if="${notMatching}">Passwords do not match!</small>
            <button>change</button>
        </form>
    </div>
</div>

<script>
    $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
</script>
</body>
</html>