<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/">
    <link rel="stylesheet" href="/css/change-pass.css">
</head>
<body>
<div class="login-page">
    <div class="form">
        <form th:action="@{/mvn/users/api/profile/change-avatar(id=${changeAvatar.userId})}" enctype="multipart/form-data"
              th:method="POST" class="login-form">
            <input type="file" class="form-control" id="image" placeholder="Select photos" name="image" required
                   style="color: grey">
            <small>Avatar must be maximum 5 MB.</small><br>
            <small>Avatar must be a JPEG/JPG/PNG file.</small>

            <h5 th:if="${incorrectSize}" style="color: red">This file is too big!</h5>
            <h5 th:if="${incorrectFormat}" style="color: red">This file format is not valid!</h5>
            <button id="change-button">change</button>
        </form>
    </div>
</div>

<script>
    $('.message a').click(function () {
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });

    $(document).ready(function(){
        let myVar;
        $( "#myDiv" ).click(function() {
            myFunction(this);
        });

        function myFunction(div) {
            $("#loader").toggle();
            $(div).toggle();

        }


    });
</script>
</body>
</html>