<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:include="~{admin/admin-fragments/head}"/>
<body>

<div class="wrapper d-flex align-items-stretch">
    <th:block th:include="~{admin/admin-fragments/nav}"/>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
      <p>Edit User Role</p>
        <form>

        </form>
    </div>
</div>

<th:block th:include="~{admin/admin-fragments/footer}"/>

</body>
</html>