<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="|${user.fullName}|">MVN | User Profile</title>
    <base href="/">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="user/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/icons/mvn/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/icons/mvn/favicon.ico" type="image/x-icon">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container emp-profile"  th:object="${user}">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <th:block th:if="*{gender.equals('Male')}">
                        <img src="img/male-profile.jpg" alt="Could not load image"/>
                    </th:block>
                    <th:block th:if="*{gender.equals('Female')}">
                        <img  src="img/female-profile.jpg" alt="Could not load image"/>
                    </th:block>
                    <th:block th:if="*{gender.equals('Other')}">
                        <img  src="img/no-gender-profile.jpg" alt="Could not load image"/>
                    </th:block>
<!--                    <div class="file btn btn-lg btn-primary">-->
<!--                         Change Photo-->
<!--                        <input type="file" name="file"/>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5 th:text="*{fullName}">
                        Kshiti Ghelani</h5>
                    <h6 th:text="*{bio}">
                        Web Developer and Designer</h6>
                    <h6 th:text="|Member since: *{registeredOn}|"></h6>
                    <p class="proile-rating">RANKINGS : <span>10/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-tab" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a href="/home" class="profile-edit-btn"  >Home</a><br><br>
                <a th:href="@{/mvn/users/api/profile/edit (id=*{id})}" class="profile-edit-btn"  >Edit Profile</a><br><br>
                <a th:href="@{/mvn/users/api/profile/change-pass(id=*{id})}" class="profile-edit-btn"  >Change Password</a><br><br>
                <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ROOT')"th:href="@{/mvn/admin/}" class="profile-edit-btn" >Admin Panel</a><br><br>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>Social Accounts</p>
                    <a href="">Website Link</a><br/>
                    <a href="">Bootsnipp Profile</a><br/>
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br/>
                    <a href="">Web Developer</a><br/>
                    <a href="">WordPress</a><br/>
                    <a href="">WooCommerce</a><br/>
                    <a href="">PHP, .Net</a><br/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{username}">Kshiti123</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{fullName}">Kshiti Ghelani</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{email}">kshitighelani@gmail.com</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Blog Posts</label>
                            </div>
                            <div class="col-md-6">
                                <p>99</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Blog Comments Likes</label>
                            </div>
                            <div class="col-md-6">
                                <p>99</p>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6">
                            <label>Shop Products</label>
                        </div>
                        <div class="col-md-6">
                            <p>99</p>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Shop Comments Likes</label>
                            </div>
                            <div class="col-md-6">
                                <p>99</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
</body>
</html>