<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shitty site</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">

</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more »</a></p>
        </div>
    </div>


 <!-- /container -->

</main>
<footer class="footer footer-inverse  py-2 ">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-white">
            &#169; CopyRight Shitty Site. All rights reserved.
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>