<th:block xmlns="http://tapestry.apache.org/schema/tapestry_5_3.xsd">
    <script src="/shop/js/jquery-3.2.1.min.js"></script>
    <script src="/shop/styles/bootstrap4/popper.js"></script>
    <script src="/shop/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/shop/plugins/greensock/TweenMax.min.js"></script>
    <script src="/shop/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/shop/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/shop/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/shop/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/shop/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/shop/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="/shop/plugins/easing/easing.js"></script>
    <script src="/shop/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="/shop/js/custom.js"></script>
</th:block>