<th:block xmlns="http://tapestry.apache.org/schema/tapestry_5_3.xsd">
    <script src="shop/js/jquery-3.2.1.min.js"></script>
    <script src="shop/styles/bootstrap4/popper.js"></script>
    <script src="shop/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="shop/plugins/greensock/TweenMax.min.js"></script>
    <script src="shop/plugins/greensock/TimelineMax.min.js"></script>
    <script src="shop/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="shop/plugins/greensock/animation.gsap.min.js"></script>
    <script src="shop/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="shop/plugins/easing/easing.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
    <script src="shop/js/contact.js"></script>
</th:block>