<th:block xmlns="http://tapestry.apache.org/schema/tapestry_5_3.xsd">

    <div class="icon_boxes">
        <div class="container">
            <div class="row icon_box_row">

                <!-- Icon Box -->
                <div class="col-lg-4 icon_box_col">
                    <div class="icon_box">
                        <div class="icon_box_image"><img src="shop/images/icon_1.svg" alt=""></div>
                        <div class="icon_box_title">Delivery</div>
                        <div class="icon_box_text">
                            <p>Contact the seller and talk about the delivery. The MVN | Shop is just a platform and it is NOT involved with delivery/return of products, refund of money.</p>
                        </div>
                    </div>
                </div>

                <!-- Icon Box -->
                <div class="col-lg-4 icon_box_col">
                    <div class="icon_box">
                        <div class="icon_box_image"><img src="shop/images/icon_2.svg" alt=""></div>
                        <div class="icon_box_title">Return policy</div>
                        <div class="icon_box_text">
                            <p>It is up to users to get things straight about the delivery and return policy.</p>
                        </div>
                    </div>
                </div>

                <!-- Icon Box -->
                <div class="col-lg-4 icon_box_col">
                    <div class="icon_box">
                        <div class="icon_box_image"><img src="shop/images/icon_3.svg" alt=""></div>
                        <div class="icon_box_title">24h Fast Support</div>
                        <div class="icon_box_text">
                            <p>Contact us at team@mvn.com for support.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Newsletter -->
    <div class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="newsletter_border"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="newsletter_content text-center">
                        <div class="newsletter_title">Subscribe to our newsletter</div>
                        <div class="newsletter_text"><p>Receive emails about newly added products by users.</p></div>
                        <div class="newsletter_text"><p>Start by hitting the subscribe button and sending us an email.</p></div>
                        <div class="newsletter_form_container">
                            <form  action="mailto:team@mvn.com?subject=Subscribe to newsletter&body=Dear MVN | Team,nI want to subscribe the the newsletter. " id="newsletter_form" class="newsletter_form">
                                <button onclick="location.href='mailto:team@mvn.com?subject=Subscribe to newsletter&body=Dear MVN | Team, ' + '\n'+
                                 'I want to subscribe to the MVN | Shop newsletter. '" class="newsletter_button trans_200"><span>Subscribe</span></button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>