<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>MVN | Homepage</title>
    <base href="/">
    <link rel="shortcut icon" href="img/icons/faviconm.ico" type="image/x-icon">
    <link rel="icon" href="img/icons/faviconm.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
<!--    <img src='/img/project-image3.jpg' >-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<header>

    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/home}">MVN</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="home.html">Home</a></li>
                    <li><a th:href="@{/posts/all}">Blog</a></li>
                    <li><a th:href="@{/shop/}">Store</a></li>
                    <li><a href="">Gallery</a></li>
                    <li><a th:href="@{/about}">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="content-width">
    <div class="slideshow">
        <!-- Slideshow Items -->
        <div class="slideshow-items">
            <div class="item">
                <div class="item-image-container">
                    <img class="item-image" src="img/door.jpg" />
                </div>
                <!-- Staggered Header Elements -->
                <div class="item-header">
                    <span class="vertical-part"><b>N</b></span>
                    <span class="vertical-part"><b>i</b></span>
                    <span class="vertical-part"><b>k</b></span>
                    <span class="vertical-part"><b>e</b></span>
                </div>
                <!-- Staggered Description Elements -->
                <div class="item-description">
          <span class="vertical-part">
            <b>Nike</b>
          </span>

                </div>
            </div>
            <div class="item">
                <div class="item-image-container">
                    <img class="item-image" src="img/post-bg.jpg" />
                </div>
                <!-- Staggered Header Elements -->
                <div class="item-header">
                    <span class="vertical-part"><b>B</b></span>
                    <span class="vertical-part"><b>l</b></span>
                    <span class="vertical-part"><b>o</b></span>
                    <span class="vertical-part"><b>g</b></span>

                </div>
                <!-- Staggered Description Elements -->
                <div class="item-description">
          <span class="vertical-part">
            <b>Delve in the blog. Post about what excites you. Share your thoughts with others. Comment you opinion on different topics.</b>
          </span>

                </div>
            </div>
            <div class="item">
                <div class="item-image-container">
                    <img class="item-image" src="https://i2.wp.com/www.futuristarchitecture.com/wp-content/uploads/2016/11/fantastic-small-living-room-interior-idea-7.jpg?w=700&ssl=1" />
                </div>
                <!-- Staggered Header Elements -->
                <div class="item-header">
                    <span class="vertical-part"><b>A</b></span>
                    <span class="vertical-part"><b>i</b></span>
                    <span class="vertical-part"><b>r</b></span>
                    <span class="vertical-part"><b>b</b></span>
                    <span class="vertical-part"><b>n</b></span>
                    <span class="vertical-part"><b>b</b></span>
                </div>
                <!-- Staggered Description Elements -->
                <div class="item-description">
          <span class="vertical-part">
            <b>Airbnb</b>
          </span>

                </div>
            </div>
        </div>
        <div class="controls">
            <ul>
                <li class="control" data-index="0"></li>
                <li class="control" data-index="1"></li>
                <li class="control" data-index="2"></li>
            </ul>
        </div>

    </div>
    <h1>hey</h1>
</div>

<!--<main role="main">-->

<!--    &lt;!&ndash; Main jumbotron for a primary marketing message or call to action &ndash;&gt;-->
<!--    <div class="jumbotron">-->
<!--        <div class="container">-->
<!--            <h1 class="display-3 text-center"><i>Hello, world!</i></h1>-->
<!--            <br>-->
<!--            &lt;!&ndash;            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="container">-->
<!--        <hr>-->
<!--        &lt;!&ndash; Example row of columns &ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <h2>Blog</h2>-->
<!--                <p>See what is new in the blog </p>-->
<!--                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <hr>-->

<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <h2>Store</h2>-->
<!--                <p>Find some interesting offers in the store</p>-->
<!--                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <hr>-->

<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <h2>Gallery</h2>-->
<!--                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula-->
<!--                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,-->
<!--                    ut fermentum massa justo sit amet risus.</p>-->
<!--                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div> &lt;!&ndash; /container &ndash;&gt;-->

<!--</main>-->
</body>
<script src="js/slider.js">

</script>
</html>