<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>MVN | Homepage</title>
    <th:block th:include="~{fragments/head}"/>

</head>
<body>
<th:block th:include="~{fragments/navbar}"/>
<div class="content-width">
    <div class="slideshow">
        <!-- Slideshow Items -->
        <div class="slideshow-items">
            <div class="item">
                <div class="item-image-container">
                    <img  class="item-image" src="img/edoardo-busti-pQH38KTlm0c-unsplash.jpg" />
                </div>
                <!-- Staggered Header Elements -->
                <div class="item-header" >
                    <span class="vertical-part"><b>G</b></span>
                    <span class="vertical-part"><b>r</b></span>
                    <span class="vertical-part"><b>e</b></span>
                    <span class="vertical-part"><b>e</b></span>
                    <span class="vertical-part"><b>t</b></span>
                    <span class="vertical-part"><b>i</b></span>
                    <span class="vertical-part"><b>n</b></span>
                    <span class="vertical-part"><b>g</b></span>
                    <span class="vertical-part"><b>s</b></span>
<!--                    <span class="vertical-part"><b>a</b></span>-->
<!--                    <span class="vertical-part"><b>l</b></span>-->
<!--                    <span class="vertical-part"><b>l</b></span>-->
<!--                    <span class="vertical-part"><b>e</b></span>-->
<!--                    <span class="vertical-part"><b>r</b></span>-->
<!--                    <span class="vertical-part"><b>y</b></span>-->
                </div>
                <!-- Staggered Description Elements -->
                <div class="item-description">
          <span class="vertical-part">
            <b>Welcome to the MVN | World.</b>
          </span>

                </div>
            </div>
            <div class="item">
                <div class="item-image-container">
                    <img class="item-image" src="img/isaac-quesada-jqgy4GDPbv4-unsplash.jpg" />
                </div>
                <!-- Staggered Header Elements -->
                <div class="item-header">
                    <span class="vertical-part"><b>B</b></span>
                    <span class="vertical-part"><b>l</b></span>
                    <span class="vertical-part"><b>o</b></span>
                    <span class="vertical-part"><b>g</b></span>
                </div>
                <!-- Staggered Description Elements -->
                <div class="item-description">
        <span class="vertical-part">
            <b>Delve in the blog. Post about what excites you. Share your thoughts with others. Tell us your opinion on different topics.</b>
          </span>

                </div>
            </div>
            <div class="item">
                <div class="item-image-container">
                    <img class="item-image" src="img/dustin-humes-bSS9hfL4oTw-unsplash.jpg" />
                </div>
                <!-- Staggered Header Elements -->
                <div class="item-header">
                    <span class="vertical-part"><b>S</b></span>
                    <span class="vertical-part"><b>h</b></span>
                    <span class="vertical-part"><b>o</b></span>
                    <span class="vertical-part"><b>p</b></span>

                </div>
                <!-- Staggered Description Elements -->
                <div class="item-description">
          <span class="vertical-part">
            <b>Enter the shop. Sell some of the things you might not need anymore. See what others have to offer. Buy things that would be of help for you.</b>
          </span>

                </div>
            </div>
            <div class="item">
                <div class="item-image-container">
                    <img class="item-image" src="img/igor-dernovoy-NkUAqozV9_U-unsplash.jpg" />
                </div>
                <!-- Staggered Header Elements -->
                <div class="item-header">
                    <span class="vertical-part"><b>G</b></span>
                    <span class="vertical-part"><b>a</b></span>
                    <span class="vertical-part"><b>l</b></span>
                    <span class="vertical-part"><b>l</b></span>
                    <span class="vertical-part"><b>e</b></span>
                    <span class="vertical-part"><b>r</b></span>
                    <span class="vertical-part"><b>y</b></span>
                </div>
                <!-- Staggered Description Elements -->
                <div class="item-description">
          <span class="vertical-part">
            <b>See the Gallery. Show others some of your favorite photos. Take a look at marvellous captured moments from other people.</b>
          </span>

                </div>
            </div>
        </div>
        <div class="controls">
            <ul>
                <li class="control" data-index="0"></li>
                <li class="control" data-index="1"></li>
                <li class="control" data-index="2"></li>
                <li class="control" data-index="3"></li>
            </ul>
        </div>

    </div>
    <h1>hey</h1>
</div>

<!--<main role="main">-->

<!--    &lt;!&ndash; Main jumbotron for a primary marketing message or call to action &ndash;&gt;-->
<!--    <div class="jumbotron">-->
<!--        <div class="container">-->
<!--            <h1 class="display-3 text-center"><i>Hello, world!</i></h1>-->
<!--            <br>-->
<!--            &lt;!&ndash;            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="container">-->
<!--        <hr>-->
<!--        &lt;!&ndash; Example row of columns &ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <h2>Blog</h2>-->
<!--                <p>See what is new in the blog </p>-->
<!--                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <hr>-->

<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <h2>Store</h2>-->
<!--                <p>Find some interesting offers in the store</p>-->
<!--                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <hr>-->

<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <h2>Gallery</h2>-->
<!--                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula-->
<!--                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,-->
<!--                    ut fermentum massa justo sit amet risus.</p>-->
<!--                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div> &lt;!&ndash; /container &ndash;&gt;-->

<!--</main>-->
</body>
<script src="js/slider.js">

</script>
</html>