<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="~{shop/shop-fragments/head}"/>
<link rel="stylesheet" type="text/css" href="shop/styles/categories.css">
<link rel="stylesheet" type="text/css" href="shop/styles/categories_responsive.css">
<body>
<div class="super_container">
    <!-- Header -->
    <th:block th:include="~{shop/shop-fragments/nav}"/>
    <!-- Home -->
    <div class="home">
        <div class="home_container">
            <div class="home_background" style="background-image:url(shop/images/categories.jpg)"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title">Categories<span>.</span></div>
                                <div class="home_text"><p>Check out the different categories of products.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products -->
    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Product Sorting -->
                    <div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start">
                        <div class="sorting_container ml-md-auto">
                            <div class="sorting">
                                <ul class="item_sorting">
                                    <li>
                                        <span class="sorting_text">Sort by</span>
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                        <ul>
                                            <li class="product_sorting_btn"
                                                data-isotope-option='{ "sortBy": "original-order" }'>
                                                <span>Default</span></li>
                                            <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "stars" }'>
                                                <span>Name</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="product_grid">
                        <!-- Product -->
                        <div class="product" th:each="category : ${categories}">
                            <div class="product_image"><img th:src="@{'shop/images/categories/' + ${category.name.toLowerCase()} +'.jpg'}" alt=""></div>
                            <div class="product_content">
                                <div class="product_title"><a th:href="@{'/mvn/shop/categories/' + ${category.name}}" th:text="${category.name}">Smart Phone</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="~{shop/shop-fragments/icons-newsletter}"/>
    <!-- Footer -->
    <th:block th:include="~{shop/shop-fragments/footer}"/>
</div>
<th:block th:include="~{shop/shop-fragments/footer-scripts}"/>
<script src="shop/js/categories.js"></script>
</body>
</html>