<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:include="~{shop/shop-fragments/head}"/>
<body>
<!-- Header -->
<th:block th:include="~{shop/shop-fragments/nav}"/>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <form th:action="@{/mvn/shop/product/create}" th:object="${product}" th:method="POST">
        <h2>Create Product</h2><br>
        <div class="form-group">
            <label for="title">Product title:</label>
            <input type="text" th:field="*{title}" th:errorclass="bg-danger" id="title" class="form-control"  placeholder="Enter title" name="title" style="color: grey" required>
        </div>
        <th:block th:each="e : ${#fields.errors('title')}">
            <small th:text="${e}" class="text-danger"></small>
        </th:block>

        <div class="form-group">
            <label for="preview">Preview:</label>
            <input type="text" th:field="*{preview}" th:errorclass="bg-danger" id="preview" class="form-control"  placeholder="Enter preview" style="color: grey" name="preview" required>
        </div>
        <th:block th:each="e : ${#fields.errors('preview')}">
            <small th:text="${e}" class="text-danger">Username error message</small>
        </th:block>

        <div class="form-group">
            <label for="desc">Description:</label>
            <textarea type="text" th:field="*{description}" th:errorclass="bg-danger" id="desc" class="form-control" placeholder="Enter description" style="color: grey" name="description" required></textarea>
        </div>
        <th:block th:each="e : ${#fields.errors('description')}">
            <small th:text="${e}" class="text-danger">Username error message</small>
        </th:block>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" th:field="*{price}" th:errorclass="bg-danger" id="price" required name="price" min="0" value="0" step=".01" class="form-control" style="color: grey"  placeholder="Enter price" >
        </div>
        <th:block th:each="e : ${#fields.errors('price')}">
            <small th:text="${e}" class="text-danger">Username error message</small>
        </th:block>

        <div class="form-group">
            <label for="categories">Choose categories:</label>
            <select  id="categories" th:errorclass="bg-danger" name="category" class="form-control" multiple style="color: grey" required>
                <option th:each="cat : ${T(demoprojects.demo.dao.models.entities.ProductCategoryName).values()}"
                        th:value="${cat}"
                        th:text="${cat}" th:selected="${product.category == cat}" >Vehicle Category
                </option>
            </select>
        </div>
        <th:block th:each="e : ${#fields.errors('category')}">
            <small th:text="${e}" class="text-danger">Username error message</small>
        </th:block>

        <div class="form-group">
            <label for="telephoneNumber">Contact telephone number:</label>
            <input type="text" th:field="*{telephoneNumber}" th:errorclass="bg-danger" class="form-control" id="telephoneNumber" pattern="^\+359[0-9 ]{9}$"  placeholder="Enter telephone number" style="color: grey" name="telephoneNumber" required>e.g. +359881122334
        </div>
        <th:block th:each="e : ${#fields.errors('telephoneNumber')}">
            <small th:text="${e}" class="text-danger">Username error message</small>
        </th:block>

        <button type="submit" class="btn btn-success">Create</button>
    </form>
    <br>
    <br>


</div>
<th:block th:include="~{shop/shop-fragments/footer}"/>
<th:block th:include="~{shop/shop-fragments/footer-scripts}"/>
<script src="/shop/js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('select').select2({
            placeholder: "Select categories...",
            allowClear: true
        });
    });
</script>
</body>
</html>