<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
    <th:block th:include="~{shop/shop-fragments/head}"/>
<body>

<div class="super_container">
    <!-- Header -->
    <th:block th:include="~{shop/shop-fragments/nav}"/>
    <!-- Menu -->
    <!-- Home -->
    <th:block th:include="~{shop/shop-fragments/index-slider}"/>
    <!-- Ads -->
    <div class="avds">
        <div class="avds_container d-flex flex-lg-row flex-column align-items-start justify-content-between">
            <div class="avds_small">
                <div class="avds_background" style="background-image:url(shop/images/avds_small.jpg)"></div>
                <div class="avds_small_inner">
                    <div class="avds_discount_container">

                        <div>

                        </div>
                    </div>
                    <div class="avds_small_content">
                        <div class="avds_title">Various Products</div>
                        <div class="avds_link"><a href="categories.html">To Products</a></div>
                    </div>
                </div>
            </div>
            <div class="avds_large">
                <div class="avds_background" style="background-image:url(shop/images/avds_large.jpg)"></div>
                <div class="avds_large_container">
                    <div class="avds_large_content">
                        <div class="avds_title">Find Interesting Stuff</div>
                        <div class="avds_text">Everything you need in one palce. Explore the store and you may be surprised what you will find.
                        </div>
                        <div class="avds_link avds_link_large"><a href="categories.html">See More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Products -->

    <div id="products" class="products">
        <div class="container">
            <h3>Newest Products</h3>
            <div class="row">
                <div class="col">
                    <div id="products_grid" class="product_grid">

                        <div class="product" th:each="newProduct : ${newestProducts}">
                            <div class="product_image"><img th:src="${newProduct.imgURL}" alt=""></div>
                            <div class="product_extra product_new"><a href="categories.html">New</a></div>
                            <div class="product_content">
                                <div class="product_title"><a th:href="@{/mvn/shop/product(id=${newProduct.id})}" style="font-size: 22px" th:text=" ${newProduct.title}">Smart Phone</a></div>
                                <div class="product_title"><a href="product.html" style="font-size: 13px" th:text="|Seller: ${newProduct.fullName}|">Smart Phone</a></div>
                                <div class="product_title"><a href="product.html" style="font-size: 13px" th:text="|Username: ${newProduct.username}|">Smart Phone</a></div>
                                <div class="product_title"><a href="product.html" style="font-size: 13px" th:text="|Created on: ${newProduct.created}|">Smart Phone</a></div>
                                <div class="product_price" th:text="|Price: ${newProduct.price} lv.|">$670</div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Ad -->

    <div class="avds_xl">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="avds_xl_container clearfix">
                        <div class="avds_xl_background" style="background-image:url(shop/images/rsz_11chanel.jpg)"></div>
                        <div class="avds_xl_content">
                            <div class="avds_title">Amazing Offers</div>
                            <div class="avds_text">Check the many great offers by our users.
                            </div>
                            <div class="avds_link avds_xl_link"><a href="/mvn/shop/products">See More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Icon Boxes -->

    <th:block th:include="~{shop/shop-fragments/icons-newsletter}"/>
    <!-- Footer -->

   <th:block th:include="~{shop/shop-fragments/footer}"/>

</div>

<th:block th:include="~{shop/shop-fragments/footer-scripts}"/>
<script src="/shop/js/custom.js"></script>
<script src="/shop/js/loadNewestProducts.js"></script>
</body>
</html>