<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="~{shop/shop-fragments/head}"/>
    <link rel="stylesheet" type="text/css" href="shop/styles/categories.css">
    <link rel="stylesheet" type="text/css" href="shop/styles/categories_responsive.css">
</head>
<body>

<div class="super_container">
    <!-- Header -->
    <th:block th:include="~{shop/shop-fragments/nav}"/>

    <!-- Home -->

    <div class="home">
        <div class="home_container">
            <div class="home_background" style="background-image:url(shop/images/categories.jpg)"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div th:if="${created}" class="home_title" style="color: green">Product created!</div>
                                <div th:if="${deleted}" class="home_title" style="color: green">Product deleted!</div>
                                <div class="home_title">Products Page<span>.</span></div>
                                <div class="home_text"><p>Discover the things other users sell. You might like something.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Products -->

    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Product Sorting -->
                    <div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start">
                        <div class="results">Showing <span>all</span> products</div>
                        <div class="sorting_container ml-md-auto">
                            <div class="sorting">
                                <ul class="item_sorting">
                                    <li>
                                        <span class="sorting_text">Sort by</span>
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                        <ul>
                                            <li class="product_sorting_btn"
                                                data-isotope-option='{ "sortBy": "original-order" }'>
                                                <span>Default</span></li>
                                            <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'>
                                                <span>Price</span></li>
                                            <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "stars" }'>
                                                <span>Name</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"  >
                    <div  class="product_grid" >
                        <div class="product" th:each="product : ${products}">
                            <div class="product_image" th:each="image,counter : ${product.imgUrls}"><img   th:if="${counter.first}" th:src="${image}" alt=""></div>

                            <div class="product_content">
                                <div class="product_title"><a style="font-size: 22px" th:href="@{/mvn/shop/product(id=${product.id})}" th:text="${product.title}">${title}</a></div>
                                <div class="product_title"><a style="font-size: 13px" th:text="|Seller: ${product.fullName}|">${fullName}</a></div>
                                <div class="product_title"><a style="font-size: 13px" href="product.html" th:text="|Username: ${product.username}|">${username}</a></div>
                                <div class="product_title"><a style="font-size: 13px"  th:text="|Created On: ${product.created}|">${created}</a></div>
                                <div class="product_price" th:text="|Price: ${product.price} lv|">Price: ${price}</div>
                            </div>
                        </div>
                    </div>
                    <div class="product_pagination">
                        <ul>
                            <li class="active"><a >01.</a></li>
                            <li><a >02.</a></li>
                            <li><a >03.</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Icon Boxes -->

    <th:block th:include="~{shop/shop-fragments/icons-newsletter}"/>
    <!-- Footer -->
<th:block th:include="~{shop/shop-fragments/footer}"/>
</div>

<th:block th:include="~{shop/shop-fragments/footer-scripts}"/>
<script src="shop/js/categories.js"></script>

</body>
</html>