<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="~{shop/shop-fragments/head}"/>
    <link rel="stylesheet" type="text/css" href="shop/styles/categories.css">
    <link rel="stylesheet" type="text/css" href="shop/styles/categories_responsive.css">
    <style>
        .my-custom-scrollbar {
            position: relative;
            height: 470px;
            overflow: auto;
        }
        .table-wrapper-scroll-y {
            display: block;
        }
    </style>
</head>
<body>
<div class="super_container">
    <!-- Header -->
    <th:block th:include="~{shop/shop-fragments/nav}"/>
    <!-- Home -->
    <div class="home">
        <div class="home_container">
            <div class="home_background" style="background-image:url(shop/images/categories.jpg)"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title">My Products<span>.</span></div>
                                <div class="home_text"><p>Below are listed the products you bought from the MVN |
                                    Shop.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products -->
    <div class="home">
        <div class="home_container">
            <h2 style="color: black; text-align: center">Your active products listed:</h2>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-dark table-hover table-responsive-xl ">
                        <thead>
                        <tr>
                            <th style="text-align: center;" scope="col">Title</th>
                            <th style="text-align: center;" scope="col">Price</th>
                            <th style="text-align: center;" scope="col">Created On</th>
                            <th style="text-align: center;" scope="col">Views</th>
                            <th style="text-align: center;" scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody id="user-products">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Icon Boxes -->
    <th:block th:include="~{shop/shop-fragments/icons-newsletter}"/>
    <!-- Footer -->
    <th:block th:include="~{shop/shop-fragments/footer}"/>
</div>


<th:block th:include="~{shop/shop-fragments/footer-scripts}"/>

<script src="shop/js/categories.js"></script>
<script th:inline="javascript">
    // const loader = {
    //     show: () => {
    //         $('#page-loader').show();
    //     },
    //     hide: () => {
    //         $('#page-loader').hide();
    //     },
    // };
    let username = [[${user}]];
    const URLS = {
        products: '/mvn/shop/api/my-products/' + username,
    };
    const toString = ({id, title, price, createdOn, views, isSold}) => {
        let columns = `
    <td style="text-align: center;">${title}</td>
    <td style="text-align: center;">${price}</td>
    <td style="text-align: center;">${createdOn}</td>
    <td style="text-align: center;">${views}</td>
`;
        columns += isSold
            ? '<td></td>'
            : `<td>
            <form style="text-align: center;" class="sell-product-form" data-id=${id} action="/mvn/shop/api/my-products/sell/${id}" method="post">
                <button style="text-align: center;" class="btn btn-success">Sell</button>
            </form>
           </td>
`;
        return `<tr id="${id}" >${columns}</tr>`
    };
    // loader.show();
    fetch(URLS.products)
        .then(response => response.json())
        .then(products => {
            let result = '';
            products.forEach(product => {
                const productString = toString(product);
                result += productString;
            });

            $('#user-products').html(result);
            // loader.hide();
        });

    $('#user-products').on('submit', '.sell-product-form', function (ev) {
        const url = $(this).attr('action');
        // loader.show();
        fetch(url, {method: 'post'})
            .then(data => {
                const id = $(this).attr('data-id');
                // console.log(id);
                // loader.hide();
                $('#' + id).hide();

            });
        ev.preventDefault();
        return false;
    });

</script>

</body>
</html>