<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="~{shop/shop-fragments/head}"/>
    <link rel="stylesheet" type="text/css" href="shop/styles/categories.css">
    <link rel="stylesheet" type="text/css" href="shop/styles/categories_responsive.css">
    <style>
        .my-custom-scrollbar {
            position: relative;
            height: 200px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }

    </style>
</head>

<body>

<div class="super_container">
    <!-- Header -->
    <th:block th:include="~{shop/shop-fragments/nav}"/>
    <!-- Home -->
    <div class="home">
        <div class="home_container">
            <div class="home_background" style="background-image:url(shop/images/categories.jpg)"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title">My Products<span>.</span></div>
                                <div class="home_text"><p>Below are listed the products you sold in the MVN |
                                    Shop.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products -->
    <div class="home">
        <div class="home_container">
            <h2 style="color: black; text-align: center">Your sold products listed:</h2>
            <h3 id="revenue">Total revenue from sold products:</h3>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-dark table-hover  table-responsive-md ">
                <thead >
                <tr >
                    <th style="text-align: center;" scope="col">Title</th>
                    <th style="text-align: center;" scope="col">Price</th>
                    <th style="text-align: center;" scope="col">Sold On</th>
                    <th style="text-align: center;" scope="col">Views</th>
                    <th style="text-align: center;" scope="col">Buyer</th>
                    <th style="text-align: center;" scope="col">Action</th>
                </tr>
                </thead>
                <tbody id="user-products">
                </tbody>
            </table>

            </div>
        </div>
    </div>
    <!-- Icon Boxes -->
    <th:block th:include="~{shop/shop-fragments/icons-newsletter}"/>
    <!-- Footer -->
    <th:block th:include="~{shop/shop-fragments/footer}"/>
</div>


<th:block th:include="~{shop/shop-fragments/footer-scripts}"/>

<script src="shop/js/categories.js"></script>
<script th:inline="javascript">

    let username = [[${user}]];
    let revenue = 0;
    const URLS = {
        products: '/mvn/shop/api/my-sold-products/' + username,
    };
    const toString = ({id, title, price, soldOnDate, views,buyerUsername, isSold}) => {
        let columns = `
    <td style="text-align: center;"><a href="/mvn/shop/product?id=${id}">${title}</a></td>
    <td style="text-align: center;">${price}</td>
    <td style="text-align: center;">${soldOnDate}</td>
    <td style="text-align: center;">${views}</td>
    <td style="text-align: center;"  ><a href="/mvn/users/api/profile-view/${buyerUsername}">${buyerUsername}</a>
    </td>
`;
        revenue += Number(price);
        columns += isSold
            ? `<td>
            <form style="text-align: center;" class="sell-product-form" data-id=${id} action="/mvn/shop/api/my-sold-products/backToMarket/${id}" method="post">
                <small>Current status: Sold</small><br>
                <button style="text-align: center;" class="btn btn-outline-warning">Back to Market</button>
            </form>
           </td>
`
            :
        '<td></td>';
        return `<tr id="${id}" >${columns}</tr>`
    };



    fetch(URLS.products)
        .then(response => response.json())
        .then(products => {

            let result = '';

            products.forEach(product => {
                const productString = toString(product);
                result += productString;
            });

            $('#user-products').html(result);
            $('#revenue').html("Total revenue from sold products: " + revenue + " lv.");

        });


    $('#user-products').on('submit', '.sell-product-form', function (ev) {
        const url = $(this).attr('action');
        // loader.show();
        fetch(url, {method: 'post'})
            .then(data => {
                const id = $(this).attr('data-id');
                $('#' + id).hide();
                $('#revenue').load(document.URL +  ' #revenue');
            });
        ev.preventDefault();
        return false;
    });

</script>
</body>
</html>