<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="~{shop/shop-fragments/head}"/>
    <link rel="stylesheet" type="text/css" href="shop/styles/categories.css">
    <link rel="stylesheet" type="text/css" href="shop/styles/categories_responsive.css">
    <style>
        .my-custom-scrollbar {
            position: relative;
            height: 200px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }

    </style>
</head>

<body>

<div class="super_container">
    <!-- Header -->
    <th:block th:include="~{shop/shop-fragments/nav}"/>
    <!-- Home -->
    <div class="home">
        <div class="home_container">
            <div class="home_background" style="background-image:url(shop/images/categories.jpg)"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title">My Products<span>.</span></div>
                                <div class="home_text"><p>Below are listed the products you bought from the MVN |
                                    Shop.</p></div>
                                <div class="home_text"><small>*For some unknown front-end reasons to me, the tables might not be responsive.
                                    <br>I am sorry for the inconvenience *</small></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products -->
    <div class="home">
        <div class="home_container">
            <h2 style="color: black; text-align: center">Your bought products listed:</h2>
            <h3 id="revenue"></h3>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-dark table-hover  table-responsive-md ">
                    <thead>
                    <tr>
                        <th style="text-align: center;" scope="col">Title</th>
                        <th style="text-align: center;" scope="col">Price</th>
                        <th style="text-align: center;" scope="col">Bought On</th>
                        <th style="text-align: center;" scope="col">Views</th>
                        <th style="text-align: center;" scope="col">Seller</th>
                    </tr>
                    </thead>
                    <tbody id="user-products">
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- Icon Boxes -->
    <th:block th:include="~{shop/shop-fragments/icons-newsletter}"/>
    <!-- Footer -->
    <th:block th:include="~{shop/shop-fragments/footer}"/>
</div>


<th:block th:include="~{shop/shop-fragments/footer-scripts}"/>

<script src="shop/js/categories.js"></script>
<script th:inline="javascript">

    let username = [[${user}]];
    let revenue = 0;
    const URLS = {
        products: '/mvn/shop/api/my-bought-products/' + username,
    };
    const toString = ({id, title, price, soldOnDate, views, sellerUsername}) => {
      let columns =   `
    <td style="text-align: center;"><a href="/mvn/shop/product?id=${id}">${title}</a></td>
    <td style="text-align: center;">${price}</td>
    <td style="text-align: center;">${soldOnDate}</td>
    <td style="text-align: center;">${views}</td>
    <td style="text-align: center;"  ><a href="/mvn/users/api/profile-view/${sellerUsername}">${sellerUsername}</a>
    </td>

`;
        revenue += Number(price);
        return `<tr id="${id}">${columns}</tr>`
    };

    fetch(URLS.products)
        .then(response => response.json())
        .then(products => {

            let result = '';
            products.forEach(product => {
                const productString = toString(product);
                result += productString;
            });

            $('#user-products').html(result);
            $('#revenue').html("Total price of bought products: " + revenue + " lv.");
        });

</script>
</body>
</html>